.not-found {
    text-align: center;
    margin-top: 50px;
    }
    .not-found h1 {
    font-size: 5rem;
    color: #ff0000;
    }
    .not-found p {
    font-size: 1.5rem;
    }
    .not-found a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
    }
    .not-found a:hover {
    text-decoration: underline;
    }